<td-layout>
  <td-navigation-drawer flex logo="assets:enterprise" name="{{username}}" email="{{userEmail}}">
    <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
      <a *ngFor="let item of appmenu" mat-list-item (click)="onAppNavigateBtnClicked(item)">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav logo="assets:enterprise" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <mat-card class="nav-search-box" flex="20">
        <td-search-box [alwaysVisible]="true" #searchBox placeholder="Search" [showUnderline]="false"></td-search-box>
      </mat-card>
      <ng-template [ngIf]="(isAuthenticated | async)">
        <button id="cart-btn" mat-button class="nav-button" [matMenuTriggerFor]="shoppingCartMenu">
          <mat-icon>shopping_cart</mat-icon>
          Cart
        </button>
        <mat-menu #shoppingCartMenu="matMenu">
          <td-menu class="cart-menu">
            <div td-menu-header class="mat-subhead">Cart</div>
            <em-cart-menu></em-cart-menu>
            <a mat-button color="accent" td-menu-footer (click)="onViewAllCartClicked()">
              View Cart
            </a>
          </td-menu>
        </mat-menu>
        <button id="logout-btn" mat-button class="nav-button" (click)="onLogoutBtnClicked()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </ng-template>
      <ng-template [ngIf]="!(isAuthenticated | async)">
        <button id="login-btn" mat-button class="nav-button" (click)="onLoginBtnClicked()">
          Login
        </button>
        <button id="register-btn" mat-button class="nav-button" (click)="onRegisterBtnClicked()">
          Register
        </button>
      </ng-template>

    </div>
    <mat-toolbar class="pad-none">
      <nav mat-stretch-tabs mat-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
        <a mat-tab-link [active]="true">
          <span hide-xs>Home</span>
          <span hide-gt-xs>
            <mat-icon>home</mat-icon>
          </span>
        </a>
        <a mat-tab-link>
          <span hide-xs>My Cart</span>
          <span hide-gt-xs>
            <mat-icon>shopping_cart</mat-icon>
          </span>
        </a>
        <a mat-tab-link>
          <span hide-xs>Contact Us</span>
          <span hide-gt-xs>
            <mat-icon>shopping_cart</mat-icon>
          </span>
        </a>
        <a mat-tab-link>
          <span hide-xs>About Us</span>
          <span hide-gt-xs>
            <mat-icon>shopping_cart</mat-icon>
          </span>
        </a>
      </nav>
    </mat-toolbar>
    <!-- router outlet goes here -->
    <router-outlet></router-outlet>
    <!-- end content -->
    <section class="bgc-blue-grey-800 tc-blue-grey-100">
      <div layout-gt-xs="row" layout-align-gt-xs="center center">
        <div layout-gt-xs="row" flex-gt-xs="80" layout-margin layout-padding>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">About Enterprise</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Company Info</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Our Customers</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Press</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">Career Info</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Benefits</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Locations</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">List item</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs="10">
          </div>
          <div flex layout="column" flex-gt-xs="30">
            <mat-icon class="push-top-md" style="height:auto;width:auto;">
              <img src="/assets/brand_footer.svg">
            </mat-icon>
            <p class="mat-body-1">&copy; Copyright 2018 Enterprise, Inc. All rights reserved.</p>

          </div>
        </div>
      </div>
    </section>
  </td-layout-nav>
</td-layout>
