<td-layout>
  <td-navigation-drawer flex logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
      <a *ngFor="let item of appmenu" mat-list-item (click)="onAppNavigateBtnClicked(item)">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list logo="assets:covalent" navigationRoute="/" color="primary">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-sidenav-content>
      <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
        <a *ngFor="let item of routes" mat-list-item (click)="onNavigateBtnClicked(item)">
          <mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
    <div td-toolbar-content class="main-nav">
      <button mat-button tdLayoutNavListToggle>
        Toggle
      </button>
      <div td-toolbar-content layout="row" layout-align="start center" flex>
        <mat-card class="nav-search-box" flex="20">
          <td-search-box [alwaysVisible]="true" #searchBox placeholder="Search" [showUnderline]="false"></td-search-box>
        </mat-card>
        <ng-template [ngIf]="false">
          <span class="nav-account">
            Welcome,
            <a href="#">Darwin Yo</a>
          </span>
          <button mat-button class="nav-button">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </ng-template>
        <ng-template [ngIf]="true">
          <button mat-button class="nav-button">
            Login
          </button>
          <button mat-button class="nav-button">
            Register
          </button>
        </ng-template>
      </div>
    </div>
    <router-outlet></router-outlet>
    <section class="bgc-blue-grey-800 tc-blue-grey-100">
      <div layout-gt-xs="row" layout-align-gt-xs="center center">
        <div layout-gt-xs="row" flex-gt-xs="80" layout-margin layout-padding>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">About Teradata</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Company Info</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Our Customers</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Press</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">Career Info</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Benefits</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Locations</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">List item</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs="10">
          </div>
          <div flex layout="column" flex-gt-xs="30">
            <mat-icon class="push-top-md" style="height:auto;width:auto;">
              <img src="/assets/brand_footer.svg">
            </mat-icon>
            <p class="mat-body-1">&copy; Copyright 2018 Enterprise, Inc. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Made with
          <mat-icon class="text-md">favorite</mat-icon> using
          <a href="http://getcovalent.com" class="text-nodecoration tc-teal-600">Covalent</a>, built on Angular v6 + Angular Material.</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
