@import "../../src/base/_typography.scss";

$typo-test: ( 
    font-family: Test,
    font-style: normal,
    src: url("../../../fonts/Lato/Lato-Hairline.ttf") format("truetype")
);
$typo-test-2:( 
    font-family: Test2,
    font-style: normal,
    src: url("../../../fonts/Lato/Lato-Hairline.ttf") format("truetype")
);

$list-typo-test:$typo-test $typo-test-2;

@include describe('face-font mixins') {
    @include it('should generate font-face based on list been fed at root') {
        @include assert-equal(true,true);
        // @include assert{
        //     @include output{
        //         // @include font-face($list-typo-test);
        //         @font-face {
        //             font-family: Test;
        //             font-style: normal;
        //             src: url("../../../fonts/Lato/Lato-Hairline.ttf") format("truetype");
        //         }
        //     }
        //     @include expect{
        //         @font-face {
        //             font-family: Test;
        //             font-style: normal;
        //             src: url("../../../fonts/Lato/Lato-Hairline.ttf") format("truetype");
        //         }
        //         // @font-face {
        //         //     font-family: Test2;
        //         //     font-style: normal;
        //         //     src: url("../../../fonts/Lato/Lato-Hairline.ttf") format("truetype");
        //         // }
        //     }
        // }
    }
}