<div class="product-detail__container" *ngIf="productDetail">
  <div class="product-detail__container__header">
    <em-gallery-container *ngIf="images" [optImages]="images" class="product-detail__container__header__image-container"></em-gallery-container>
    <mat-card class="product-detail__container__header__info-container">
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__title">
          {{productDetail.name}}
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__price">
          $ {{productDetail.price}}
        </span>
        <span class="product-detail__last-updated">
          Last updated at {{productDetail.lastUpdated}}
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <em-star-container [rate]="productDetail.overallRating" [isCard]="false" [reviewsCount]="productDetail.reviews"></em-star-container>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__info-header">
          Details:
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Location :</span>
          <span class="product-detail__info__container__value">{{productDetail.location}}</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Sold :</span>
          <span class="product-detail__info__container__value">{{productDetail.sold}} pcs</span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Min Purchase :</span>
          <span class="product-detail__info__container__value">{{productDetail.minPurchase}} pcs</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Has Expiry :</span>
          <span class="product-detail__info__container__value">{{productDetail.hasExpiry}}</span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Manufacturer :</span>
          <span class="product-detail__info__container__value">{{productDetail.manufacturerName}}</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Expiry Date :</span>
          <span class="product-detail__info__container__value" *ngIf="productDetail.hasExpiry.toUpperCase()==='TRUE'">{{productDetail.expireDate}}</span>
          <span class="product-detail__info__container__value" *ngIf="productDetail.hasExpiry.toUpperCase()!=='TRUE'"> - </span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__info-header">
          Color:
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <mat-button-toggle-group class="no-shadow" name="fontStyle" aria-label="Font Style">
          <ng-template ngFor let-color [ngForOf]="productDetail?.productColors">
            <mat-button-toggle class="product-detail__color-chip" value="{{color.name}}">{{color.name}}</mat-button-toggle>
          </ng-template>
        </mat-button-toggle-group>
      </div>
    </mat-card>
    <mat-card class="product-detail__container__header__action-container">
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__title">
          {{productDetail.name}}
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__price">
          $ {{(productDetail.price * quantity)}}
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__discount">
          Discount : {{productDetail.discount}}%
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row">
        <em-counter (counterChanged)="onCounterChanged($event)" [maxOrder]="productDetail.stock"></em-counter>
        <button mat-button class="product-detail-action__add-to-card-btn">
          Add to cart
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__stock">
          Stocks: {{productDetail.stock}} pcs left
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <button mat-button class="product-detail-action__add-to-wishlist-btn">
          Add to wishlist
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__wishlist">
          Found in {{productDetail.wishlistCount}} Wishlists
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <button mat-button class="product-detail-action__favorites-btn">
          <i class="material-icons">favorite_border</i>
          Favorite ({{productDetail.favorites}})
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row">
        <button mat-button class="product-detail-action__share-btn">
          <i class="material-icons">share</i>
          Share
        </button>
        <button mat-button class="product-detail-action__report-btn">
          <i class="material-icons">report</i>
          Report
        </button>
      </div>
    </mat-card>
  </div>
  <mat-card class="product-detail__container__description">
    <div class="product-detail__container__description__title">
      Description :
    </div>
    <div class="product-detail__container__description__content">
      {{productDetail.description}}
    </div>
  </mat-card>
</div>
