body { margin-top: 65px; }

.page-container { height: 80vh; }

.navbar-header {
    position: relative;
    top: -4px;
}

.welcome-page {
    height: 100%;
    padding-top: 6rem;
}

.navbar-brand > .icon-banner {
    display: inline;
    position: relative;
    top: -2px;
}

.icon {
    position: relative;
    top: -10px;
}

.page-consent .client-logo { float: left; }

.page-consent .client-logo img {
    height: 80px;
    width: 80px;
}

.page-consent .consent-buttons { margin-top: 25px; }

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description { margin-left: 25px; }

.page-consent .consent-form .consent-description label { font-weight: normal; }

.page-consent .consent-form .consent-remember { padding-left: 16px; }

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg")
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.eot?") format("eot"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg")
}

body {
    font-family: Montserrat, sans-serif;
    min-width: 480px;
}

.mt-15 { margin-top: 15px; }

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

.select-filter {
    -webkit-appearance: none;
    background-color: transparent;
    border-color: #37c7ca;
    color: white;
    margin: 10px;
    margin-right: 20px;
    max-height: 43px;
    min-width: 140px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 20px;
}

.select-filter option { background-color: #00a69c; }

select::-ms-expand { display: none; }

.select-filter-wrapper {
    display: inline-block;
    margin-left: -10px;
    z-index: 0;
}

.select-filter-wrapper::before {
    color: white;
    content: attr(data-name);
    font-size: 10px;
    margin-left: 21px;
    margin-top: 15px;
    opacity: 0.5;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.select-filter-arrow {
    margin-left: 130px;
    margin-top: 40px;
    position: absolute;
}

.btn-brand-small-filter {
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.layout-cart-image {
    height: 36px;
    margin-top: 5px;
}

.layout-cart-badge {
    background-color: #83d01b;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin-left: 14px;
    margin-top: 2px;
    padding: 1px;
    position: absolute;
    width: 18px;
}

/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed:hover:before {
    color: chartreuse;
    content: "[";
    display: inline-block;
    padding-right: 0.5em;
}

.btn-bracketed:hover:after {
    color: chartreuse;
    content: "]";
    display: inline-block;
    padding-left: 0.5em;
}

.btn-brand {
    background-color: #83D01B;
    border: none;
    border-radius: 0px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 255px;
}

.error-page {
    padding-top: 6rem;
    text-align: center;
}

.error-content {
    display: flex;
    justify-content: center;
}

.btn-brand::before { content: '[' }

.btn-brand::after { content: ']' }

.btn-brand:hover:before { padding-right: 5px; }

.btn-brand:hover:after { padding-left: 5px; }

.btn-brand-big {
    margin-top: 20px;
    width: 360px;
}

.btn-brand-small { width: 45px; }

.btn-brand-small::before { content: ''; }

.btn-brand-small::after { content: ''; }

.btn-brand-small:hover:before {
    content: '';
    padding: 0;
}

.btn-brand-small:hover:after {
    content: '';
    padding: 0;
}

.btn-brand-dark { background-color: #00a69c; }

.btn-brand:hover {
    background-color: #83D01B;
    color: white;
    text-decoration: none;
}

.btn-brand-dark:hover { background-color: #00a69c; }

.btn-cart {
    float: right;
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn-catalog-apply { padding: 0; }

.form-label {
    color: #404040;
    font-weight: normal !important;
    margin-bottom: 10px !important;
    text-align: left;
    text-transform: uppercase;
}

.form-input {
    border-radius: 0;
    height: 45px;
    padding: 10px;
}

.form-input-small { max-width: 100px !important; }

.form-select {
    border-radius: 0;
    height: 45px;
    padding: 10px;
    width: 150px;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

.navbar-inverse {
    background-color: #FFF;
    border-color: #FFF;
}

/*.navbar-inverse li {
        margin-top: 10px;
    }*/

.btn-login {
    background-color: white;
    border: 1px solid #00A69C;
    color: #00a69c;
    height: 36px !important;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 140px;
    padding-top: 8px !important;
    text-transform: uppercase;
    width: 140px;
}

.btn-login { font-weight: normal !important; }

.btn-login::before { content: '['; }

.btn-login::after { content: ']'; }

.btn-login:hover:before { content: '[ '; }

.btn-login:hover:after { content: ' ]'; }

.navbar-inverse li a {
    color: #00A69C !important;
    height: 30px;
    padding: 5px 20px;
}

.no-padding { padding: 0px !important; }

.full-width {
    min-height: 4rem;
    width: 90%;
}

.footer-menu-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.navbar-brand {
    height: 44px;
    margin-left: 0px !important;
    width: 201px;
}

navbar-brand > img {
    height: 100%;
    width: 100%;
}

.nav > li > a { color: white; }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #00A69C;
    font-weight: bolder;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.home-banner {
    background-image: url(../images/main_banner.png);
    background-position: center;
    background-size: cover;
    height: 258px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.home-banner-text { margin-top: 70px; }

.home-catalog-container {
    margin-bottom: 20px;
    min-height: 400px;
}

.home-catalog-filter-container {
    background-color: #00A69C;
    height: 63px;
    line-height: 76px;
}

.home-catalog-filter-container li a { padding-top: 5px !important; }

.home-catalog-filter-brands::before {
    color: white;
    content: 'BRAND';
    font-size: x-small;
    margin: 10px 0px 0px 15px;
    opacity: 0.5;
}

.home-catalog-filter-types::before {
    color: white;
    content: 'TYPES';
    font-size: x-small;
    margin: 10px 0px 0px 15px;
    opacity: 0.5;
}

.home-catalog-item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.home-catalog-item-image {
    object-fit: cover;
    /* max-width: 320px; */
    text-align: center;
    width: 100%;
}

.home-catalog-item-image-addCart {
    background-color: #83D01B;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-weight: normal;
    height: 43px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.home-catalog-item-image-addCart:hover {
    color: white;
    text-decoration: none;
}


.home-catalog-item-image:hover:after { cursor: pointer; }

.home-catalog-item-title {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.home-catalog-item-price {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.home-catalog-item-price::before { content: '$'; }

.home-catalog-noResults {
    margin-top: 100px;
    text-align: center;
}

.container .nav .navbar-nav .col-sm-6 ::before { content: 'BRAND'; }

.validation-summary-errors li { list-style: none; }

footer {
    background-color: black;
    height: 150px;
    vertical-align: middle;
}

footer .brand {
    background-image: url(../images/brand_dark.PNG);
    height: 52px;
    margin-left: 0px !important;
    margin-top: 25px;
    max-width: 231px;
}

footer .text { margin-top: 55px; }

.text { color: #83D01B; }

.text:hover { color: #83D01B; }

form .col-md-4 { text-align: right; }

.brand-header-block {
    background-color: #00A69C;
    height: 63px;
}

.brand-header-block li {
    color: white;
    /*float: right;*/
    cursor: pointer;
    display: inline;
    list-style: none;
    margin-left: 10px;
    margin-top: 25px;
    opacity: 0.5;
}

.brand-header-block li a { color: white; }

.brand-header-block li a:hover { text-decoration: none; }

.brand-header-block .active { opacity: 1; }

.brand-header-block .active::before {
    color: greenyellow;
    content: '[ ';
}

.brand-header-block .active::after {
    color: greenyellow;
    content: ' ]';
}

.brand-header-back {
    float: left !important;
    margin-top: 20px !important;
    text-transform: uppercase;
}

.account-login-container {
    min-height: 70vh;
    padding-top: 6rem;
    text-align: center;
}

.account-register-container {
    align-content: center;
    min-height: 70vh;
    text-align: center !important;
}

.cart-index-container {
    margin-bottom: 30px;
    min-height: 70vh;
    min-width: 992px;
    padding-top: 40px;
}

.register-container {
    margin-bottom: 30px;
    min-height: 70vh;
    padding-left: 30px;
    padding-top: 40px;
}

.order-create-container {
    margin-bottom: 30px;
    min-height: 70vh;
    min-width: 995px;
    padding-left: 30px;
    padding-top: 40px;
}

.cart-product-column {
    max-width: 120px;
    text-transform: uppercase;
    vertical-align: middle !important;
}

.order-create-container .cart-product-column { max-width: 130px; }

.cart-product-column-name { width: 220px; }

.cart-subtotal-label {
    color: #404040;
    font-size: 12px;
    margin-top: 10px;
}

.cart-subtotal-value {
    color: #00a69c;
    font-size: 20px;
}

.cart-total-label {
    color: #404040;
    font-size: 14px;
    margin-top: 10px;
}

.cart-total-value {
    color: #00a69c;
    font-size: 28px;
    text-align: left;
}

.cart-product-image { max-width: 210px; }

.cart-section-total {
    margin-bottom: 5px;
    margin-left: 175px;
    text-align: left;
}

.cart-product-column input {
    text-align: center;
    width: 70px;
}

.cart-refresh-button {
    background-color: transparent;
    background-image: url('../images/refresh.svg');
    border: none;
    color: white;
    font-size: 8px;
    height: 40px;
    margin-left: 15px;
    margin-top: 0;
    margin-top: 25px;
    width: 40px;
}

.cart-refresh-button:hover { background-color: transparent; }

.cart-totals { border-bottom: none !important; }

.input-validation-error { border: 1px solid #fb0d0d; }

.text-danger {
    color: #fb0d0d;
    font-size: 12px;
}

.cart { border: none !important; }

.form-horizontal h4 { margin-top: 30px; }

.form-horizontal .form-group { margin-right: 0px !important; }

.form-control:focus { border-color: #83d01b; }

.form-input-center { margin: auto; }

.order-index-container {
    margin-bottom: 30px;
    min-height: 70vh;
    padding-top: 40px;
}

.order-index-container .table tbody tr { border-bottom: none; }

.order-index-container .table tbody tr td {
    border-top: none;
    padding-bottom: 10px;
    padding-top: 10px;
}



.order-index-container .table tbody tr:nth-child(even) { background-color: #f5f5f5; }

.order-create-section-title {
    margin-left: -15px;
    text-transform: uppercase;
}

.order-create-section-items {
    margin-left: -45px;
    width: 102%;
}

.order-detail-button { }

.order-detail-button a { color: #83d01b; }

.order-detail-container {
    margin-bottom: 30px;
    min-height: 70vh;
    padding-top: 40px;
}

.order-detail-container .table tbody tr:first-child td { border-top: none; }

.order-detail-container .table tr { border-bottom: none; }

.order-detail-section { margin-top: 50px; }

.order-detail-container .table { margin-left: -7px; }

.order-section-total {
    margin-bottom: 5px;
    margin-left: 40px;
    text-align: left;
}

.fr { float: right !important; }

.down-arrow {
    background-image: url('../images/arrow-down.png');
    display: inline-block;
    height: 7px;
    margin-left: 20px;
    width: 10px;
}

.logout-page { padding-top: 6rem; }

.logout-icon {
    background-image: url('../images/logout.PNG');
    display: inline-block;
    height: 19px;
    margin-left: 15px;
    width: 19px;
}

.myorders-icon {
    background-image: url('../images/my_orders.PNG');
    display: inline-block;
    height: 20px;
    margin-left: 15px;
    width: 20px;
}

.login-user {
    cursor: pointer;
    position: absolute !important;
    right: 65px;
    top: 30px;
}

.login-user-dropdown {
    display: inline-block;
    position: relative;
}

.login-user-dropdown-content {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    /*left: 100px;*/
    right: 0px;
}

.login-user-dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

.login-user:hover .login-user-dropdown-content { display: block; }

.down-arrow:hover > .login-user-dropdown-content { display: block; }

.login-user-dropdown-content a:hover { color: #83d01b; }

.es-header { min-height: 80px !important; }

.es-pager-bottom { margin-top: 40px; }

.es-pager-top {
    margin-bottom: 20px;
    margin-top: 20px;
}

.es-pager-top ul { list-style: none; }

.es-pager-bottom ul { list-style: none; }

.page-item { cursor: pointer; }

.next {
    position: absolute;
    right: 15px;
    top: 0;
}

.previous {
    left: 0;
    position: absolute;
    top: 0;
}

.is-disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.table tr { border-bottom: 1px solid #ddd; }

.table th { text-transform: uppercase; }


.navbar-nav {
    float: right;
    margin-bottom: 7.5px;
    margin-right: -10px;
    margin-top: 10px;
}

@media screen and (max-width: 1195px) {
    .cart-product-column-name { display: none; }
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }

    footer .text {
        margin-top: -15px;
        text-align: left;
    }

    .cart-product-column-brand { display: none; }
}

@media screen and (min-width: 992px) {
    .form-input {
        max-width: 360px;
        width: 360px;
    }
}

@media screen and (max-width: 415px) {
    .account-login-container { margin-left: -50px; }

    .page-consent {
        margin-left: 10px;
        margin-right: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
}