html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #region Lato Typographies*/
/* #endregion */
.form-card__title, .form-card__content {
  font-family: Mina;
  color: black; }

.form-card {
  background-color: white;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 1rem;
  padding: 2rem; }
  .form-card__title {
    font-size: 2rem;
    border-bottom: 1px solid #95989A; }
  .form-card__content {
    margin-top: 2rem;
    font-size: 1.25rem; }

.list-item-actions__item__grid, .list-item-actions__item__nested-list__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr; }

.list-item-actions__item, .list-item-actions--category__left, .list-item-actions--category__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2rem; }

.list-item-actions, .list-item-actions--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.list-item-actions__item__edit > button, .list-item-actions__item__delete > button {
  font-family: Mina !important;
  font-size: 1rem; }

.list-item-actions__item__nested-list {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.5rem; }

.list-item-actions__item__name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 0;
  grid-column: 1/2;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.list-item-actions__item__edit {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 0;
  grid-column: 2/3;
  grid-row: 1/1; }
  .list-item-actions__item__edit > button {
    color: #2E7D32; }

.list-item-actions__item__delete {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 0;
  grid-column: 3/4;
  grid-row: 1/1; }
  .list-item-actions__item__delete > button {
    color: #FF6F00; }

body {
  background-color: #F8F8FB; }
