<mat-card class="order-detail-page">
  <mat-card class="purchase-detail-container">
    <div class="purchase-detail-container__title">
      Buyer Contact Details
    </div>
    <div class="purchase-detail-container__info-container">
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">Buyer: </span>
        <span class="purchase-detail-container__info-container__item__value">Darwin Yo</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">Country: </span>
        <span class="purchase-detail-container__info-container__item__value">U.S</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">City: </span>
        <span class="purchase-detail-container__info-container__item__value">Redmond</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">State: </span>
        <span class="purchase-detail-container__info-container__item__value">WA</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">ZipCode: </span>
        <span class="purchase-detail-container__info-container__item__value">98052</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">Street: </span>
        <span class="purchase-detail-container__info-container__item__value">15703 NE 61st Ct</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">Phone: </span>
        <span class="purchase-detail-container__info-container__item__value">1234567890</span>
      </div>
      <div class="purchase-detail-container__info-container__item">
        <span class="purchase-detail-container__info-container__item__key">Email: </span>
        <span class="purchase-detail-container__info-container__item__value">darwinyo@enterprise.com</span>
      </div>
    </div>
  </mat-card>

  <mat-card class="order-detail-container">
    <div class="order-detail-container__title">
      Order Details
    </div>
    <div class="order-detail-container__order-list">
      <div class="order-detail-container__order-list__item">
        <div class="order-detail-container__order-list__item__name">
          Intel i5 8870K
        </div>
        <div class="order-detail-container__order-list__item__quantity">
          2 pcs
        </div>
        <div class="order-detail-container__order-list__item__total-price">
          $ 2013
        </div>
      </div>
      <div class="order-detail-container__order-list__item">
        <div class="order-detail-container__order-list__item__name">
          Intel i5 8870K
        </div>
        <div class="order-detail-container__order-list__item__quantity">
          2 pcs
        </div>
        <div class="order-detail-container__order-list__item__total-price">
          $ 2013
        </div>
      </div>
      <div class="order-detail-container__order-list__item">
        <div class="order-detail-container__order-list__item__name">
          Intel i5 8870K
        </div>
        <div class="order-detail-container__order-list__item__quantity">
          2 pcs
        </div>
        <div class="order-detail-container__order-list__item__total-price">
          $ 2013
        </div>
      </div>
      <div class="order-detail-container__order-list__item">
        <div class="order-detail-container__order-list__item__name">
          Intel i5 8870K
        </div>
        <div class="order-detail-container__order-list__item__quantity">
          2 pcs
        </div>
        <div class="order-detail-container__order-list__item__total-price">
          $ 2013
        </div>
      </div>
    </div>
    <div class="order-detail-container__order-total">
      <div class="order-detail-container__order-list__item__name">

      </div>
      <div class="order-detail-container__order-list__item__quantity">

      </div>
      <div class="order-detail-container__order-list__item__total-price">

        $ 12122
      </div>
    </div>

    <div class="order-detail-container__actions">
      <span></span>
      <button mat-button matStepperNext class="order-detail-container__actions__purchase">Purchase</button>
      <button mat-button matStepperPrevious class="order-detail-container__actions__back">Back</button>
    </div>
  </mat-card>
</mat-card>
