<div class="card-container">
  <div class="card-container__row">
    <div class="card-container--category">
      <div class="card-container__title">
        Categories
        <a [routerLink]="['/category-list']" class="card-container__title__more-links">See more</a>
      </div>
      <div class="card-container__content" *ngIf="categories">
        <ng-template ngFor let-category [ngForOf]="(categories | async)">
          <eca-category-card [category]="category" (categoryCardClicked)="onCategoryCardClicked($event)"></eca-category-card>
        </ng-template>
      </div>
    </div>
    <div class="card-container--manufacturer">
      <div class="card-container__title">
        Manufacturers
        <a [routerLink]="['/manufacturer-list']" class="card-container__title__more-links">See more</a>
      </div>
      <div class="card-container__content" *ngIf="manufacturers">
        <ng-template ngFor let-manufacturer [ngForOf]="(manufacturers | async)">
          <eca-manufacturer-card [manufacturer]="manufacturer" (manufacturerCardClicked)="onManufacturerCardClicked($event)"></eca-manufacturer-card>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-container--full-screen">
    <mat-tab-group class="tab-group">
      <mat-tab label="Added Recently" *ngIf="newProducts">
        <div class="card-container__content">
          <ng-template ngFor let-newProduct [ngForOf]="(newProducts | async)">
            <eca-product-card [productViewModel]="newProduct" (productCardClicked)="onProductCardClicked($event)"></eca-product-card>
          </ng-template>
        </div>

      </mat-tab>
      <mat-tab class="card-container__content" label="Hot Products" *ngIf="hotProducts">
        <div class="card-container__content">
          <ng-template ngFor let-hotProduct [ngForOf]="(hotProducts | async)">
            <eca-product-card [productViewModel]="hotProduct" (productCardClicked)="onProductCardClicked($event)"></eca-product-card>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
