$primary-color:black;
$secondary-color:#2E7D32;
$alert-color:#FF6F00;
$inverted-color:white;

$primary-background-color:white;
$secondary-background-color:#F8F8FB;
$inverted-background-color:#2E7D32;

$border:1px solid #95989A;
$border-radius:5px;

$primary-font-family:Mina;

$font-size-bg:2rem;
$font-size-md:1.25rem;
$font-size-sm:1rem;
$font-size-xs:0.8rem;