<mat-card class="form-card">
  <div class="form-card__title">
    {{title}}
  </div>
  <div class="form-card__content" *ngIf="(items$ | async)">
    <div class="list-item-actions">
      <div class="list-item-actions__item" *ngFor="let item of (items$ | async)?.listData">
        <div class="list-item-actions__item__grid">
          <div class="list-item-actions__item__name">{{item.name}}</div>
          <div class="list-item-actions__item__edit">
            <button mat-button (click)="onEdit(item.id)">Edit</button>
          </div>
          <div class="list-item-actions__item__delete">
            <button mat-button (click)="onDelete(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-card__footer" *ngIf="(items$ | async)">
    <td-paging-bar #pagingBarResponsive [pageLinkCount]="(media.registerQuery('md') | async) ? 0 : 5" [firstLast]="media.registerQuery('gt-xs') | async"
      [pageSize]="pageSize" [total]="total" (change)="onPaginationChanged($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select *ngIf="media.registerQuery('gt-xs') | async" [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [10,50,100,200,500,1000,2000]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      <p hide-xs hide-sm hide-md>Go to:</p>
      <mat-form-field [style.width.px]="30" *ngIf="media.registerQuery('gt-sm') | async">
        <input #goToResponsive matInput type="number" [min]="1" [max]="pagingBarResponsive.maxPage" [value]="pagingBarResponsive.page"
          (blur)="goToResponsive.value = pagingBarResponsive.page" (keyup.enter)="pagingBarResponsive.navigateToPage(goToResponsive.value); goToResponsive.value = pagingBarResponsive.page"
        />
      </mat-form-field>
      <span>{{pagingBarResponsive.range}}
        <span hide-xs hide-sm hide-md>of {{pagingBarResponsive.total}}</span>
      </span>
    </td-paging-bar>
    <button id="li-addBtn" mat-button (click)="onAddNew()">Add New</button>
  </div>
</mat-card>