<div class="product-detail__container">
  <div class="product-detail__container__header">
    <div class="product-detail__container__header__image-container">
      <div class="product-detail__container__header__image-container__main-image">
        <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
          alt="">
      </div>
      <div class="product-detail__container__header__image-container__opt-image scrollbar">
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img class="active" src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
        <div class="product-detail__container__header__image-container__opt-image__item">
          <img src="https://ecs7.tokopedia.net/img/cache/300/catalog/2017/7/18/20723476/20723476_adf87c53-1bcb-4fce-b5a5-7ce68fb23c7a.jpg"
            alt="">
        </div>
      </div>
    </div>
    <div class="product-detail__container__header__info-container">
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__title">
          Intel i7 6700K
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__price">
          $ 900
        </span>
        <span class="product-detail__last-updated">
          Last updated at 6/6/2018
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <div class="product-detail__star-rate">
          <div class="product-detail__star-rate__star-wrapper">
            <div class="product-detail__star-rate__lit" style="width: 100%;">
              <svg class="product-detail__star-rate__primary-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <svg class="product-detail__star-rate__hollow-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
              <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polygon>
            </svg>
          </div>
          <div class="product-detail__star-rate__star-wrapper">
            <div class="product-detail__star-rate__lit" style="width: 100%;">
              <svg class="product-detail__star-rate__primary-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <svg class="product-detail__star-rate__hollow-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
              <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polygon>
            </svg>
          </div>
          <div class="product-detail__star-rate__star-wrapper">
            <div class="product-detail__star-rate__lit" style="width: 100%;">
              <svg class="product-detail__star-rate__primary-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <svg class="product-detail__star-rate__hollow-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
              <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polygon>
            </svg>
          </div>
          <div class="product-detail__star-rate__star-wrapper">
            <div class="product-detail__star-rate__lit" style="width: 100%;">
              <svg class="product-detail__star-rate__primary-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <svg class="product-detail__star-rate__hollow-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
              <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polygon>
            </svg>
          </div>
          <div class="product-detail__star-rate__star-wrapper">
            <div class="product-detail__star-rate__lit" style="width: 50%;">
              <svg class="product-detail__star-rate__primary-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <svg class="product-detail__star-rate__hollow-star" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
              <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polygon>
            </svg>
          </div>
          <span class="product-detail__star-rate__rate-count">
            4.6 out of 5 stars (200 reviews)
          </span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__info-header">
          Details:
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Location :</span>
          <span class="product-detail__info__container__value">Shanghai</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Sold :</span>
          <span class="product-detail__info__container__value">120 Box</span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Min Purchase :</span>
          <span class="product-detail__info__container__value">1 box</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Has Expiry :</span>
          <span class="product-detail__info__container__value">Yes</span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row">
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Manufacturer :</span>
          <span class="product-detail__info__container__value">Intel</span>
        </div>
        <div class="product-detail__info__container">
          <span class="product-detail__info__container__title">Expiry Date :</span>
          <span class="product-detail__info__container__value">20/12/2019</span>
        </div>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <span class="product-detail__info-header">
          Color:
        </span>
      </div>
      <div class="product-detail__container__header__info-container__row--full">
        <button class="product-detail__color-chip">
          Yellow
        </button>
        <button class="product-detail__color-chip">
          Red
        </button>
        <button class="product-detail__color-chip">
          Blue
        </button>
        <button class="product-detail__color-chip">
          Green
        </button>
        <button class="product-detail__color-chip">
          Black
        </button>
        <button class="product-detail__color-chip">
          White
        </button>
      </div>
    </div>
    <div class="product-detail__container__header__action-container">
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__title">
          Intel i7 6700K
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__price">
          $ 900
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__discount">
          Discount : 10%
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row">
        <span class="product-detail-action__stepper">

        </span>
        <button class="product-detail-action__add-to-card-btn">
          Add to cart
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__stock">
          Stocks: 10 box left
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <button class="product-detail-action__add-to-wishlist-btn">
          Add to wishlist
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <span class="product-detail-action__wishlist">
          Found in 20000 Wishlists
        </span>
      </div>
      <div class="product-detail__container__header__action-container__row--full">
        <button class="product-detail-action__favorites-btn">
          <span class="btn-logo"></span>
          Favorite (143)
        </button>
      </div>
      <div class="product-detail__container__header__action-container__row">
        <button class="product-detail-action__share-btn">
          <span class="btn-logo"></span>
          Share
        </button>
        <button class="product-detail-action__report-btn">
          <span class="btn-logo"></span>
          Report
        </button>
      </div>
    </div>
  </div>
  <div class="product-detail__container__description">
    <div class="product-detail__container__description__title">
      Description :
    </div>
    <div class="product-detail__container__description__content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sit sint at neque dolorem ex hic labore et quod eaque delectus
      modi nisi quidem facilis dignissimos repellendus esse, voluptates ipsa iste odit debitis quam, corporis error praesentium.
      Aliquid error est saepe dolor sed fuga reiciendis incidunt aspernatur nemo, necessitatibus aperiam et ratione, quidem
      adipisci eveniet, placeat perspiciatis dolorem laborum odit accusamus? Eaque quasi enim tempora iusto libero aliquid
      doloremque perferendis, in facilis officia provident cumque debitis voluptatum nobis adipisci cum ipsam facere consequuntur
      labore ipsa error quis magni placeat sit. Illo error in necessitatibus ipsum ducimus ex praesentium accusamus officiis
      explicabo, maxime, suscipit, labore omnis quae nesciunt ullam natus. Nisi saepe inventore odit dolorem in quae cupiditate
      quis atque facere a iure maxime animi, magnam fuga reprehenderit aperiam dolor, sapiente sequi facilis ut labore accusantium,
      recusandae at aliquam! Rerum, aperiam? Facilis sequi, autem quasi tenetur reiciendis itaque, earum eos explicabo iure
      expedita nulla pariatur veritatis corrupti nostrum optio iusto ea neque vitae porro maxime voluptatum. Nihil quisquam
      facere, nulla possimus minus repellendus id iure fugit dolorem voluptates voluptatibus suscipit magnam beatae a, consequatur
      labore iusto accusamus quam asperiores, totam numquam eaque corporis. Esse suscipit ipsam enim, accusantium est distinctio
      ratione dolor quod, obcaecati veritatis temporibus officia soluta, corporis voluptas unde vitae. Hic, enim fuga facilis
      repudiandae nemo impedit doloremque soluta provident pariatur illo consequatur ratione at commodi quod alias quas nisi
      nihil necessitatibus magni excepturi sit facere. Voluptatem quas eaque quam aliquid et iste, laborum reprehenderit
      quos, explicabo, quod mollitia obcaecati! Deleniti optio, cupiditate rem ad, sed tempore eaque consectetur qui ullam,
      officia aperiam quae accusantium! Et reiciendis ipsam eos at, inventore vero quis ipsa doloribus perferendis libero
      minima placeat voluptates sunt doloremque quisquam iure dolore nobis dignissimos nisi tempore modi corrupti impedit!
      At quibusdam blanditiis nihil labore iste ad vero quidem tenetur modi odio. Saepe non vitae dolore consectetur sunt.
      Non blanditiis, reprehenderit sunt ipsa laborum minima deserunt porro, a aliquam eaque sequi aut harum explicabo eligendi
      enim ducimus iure eos distinctio. Itaque omnis, et, ex, eius laboriosam quo porro minus eum inventore velit beatae
      error quos! Nihil soluta similique doloremque beatae aliquam autem velit molestiae laudantium voluptate, enim, illo
      natus praesentium iure eaque consequuntur commodi, vitae molestias non libero. Quam quas doloribus officia beatae voluptates
      quos magni temporibus, reprehenderit fugiat reiciendis harum id accusantium? Delectus impedit sequi laboriosam neque,
      rem soluta possimus sed aspernatur ad quo saepe illo? Expedita neque culpa fugit. Soluta cumque obcaecati vel possimus
      quod voluptatibus, corrupti illum atque. Laborum, cum corporis quis tenetur iste vero blanditiis, necessitatibus ea
      accusamus totam numquam maiores mollitia harum, incidunt est illo reiciendis saepe hic fugit doloribus libero adipisci
      nostrum exercitationem facilis? Animi consequatur laboriosam illum aperiam accusamus veritatis atque porro itaque error
      nostrum sit velit neque, tenetur ut necessitatibus dolore aliquid rerum corrupti exercitationem reiciendis, odit explicabo
      officia! Tempore nobis, eos rerum ex, nam animi maxime doloremque quaerat aliquid consequuntur repudiandae hic molestiae
      ullam sed. Voluptatem fugiat esse eveniet reprehenderit, molestiae dolor quam officiis molestias, iste, culpa tenetur?
    </div>
  </div>
</div>
