%flex-start-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

%cart-btn-action {
  font-size: $font-size-md !important;
  color: $primary-color !important;
  border: 1px solid !important;
  border-radius: 0.5rem !important;
  height: 3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

%cart-item-placeholder {
  height: 100%;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  min-height: 0px !important;
  width: 100%;
  margin: 0px !important;
}

.cart-item {
  justify-content: space-between;
  @extend %cart-item-placeholder;
  &--action {
    justify-content: flex-end;
    @extend %cart-item-placeholder;
  }
  &__container {
    padding: 0.5rem;
    width: 100%;
    background-color: #F8F8FB;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: grid;
    grid-template-columns: 1fr;
    &__child {
      justify-self: stretch;
      padding: 0.5rem 2rem;
      height: 125px;
    }
  }
  &__image {
    height: 125px;
    width: 125px;
    margin: 0 2rem;
    &>img {
      height: 100%;
    }
  }
  &__info {
    width: 40%;
    @extend %flex-start-center;
    &__title {
      width: 100%;
      font-size: $font-size-lg;
      font-family: 'Mina';
      &>a {
        text-decoration: none;
        color: $secondary-color;
        &:hover {
          color: $alert-color;
        }
      }
      &__info{
        color: $alert-color;
        font-size: $font-size-sm;
      }
    }
    &__quantity {
      @extend %flex-start-center;
      font-size: $font-size-sm;
      font-family: 'Mina';
      &>input {
        text-align: center;
        margin-right: 0.5rem;
        padding: 0.1rem;
        display: block;
        box-sizing: border-box;
        width: 20%;
        border: 1px solid #cacaca;
        background-color: #fefefe;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        font-family: 'Mina';
        font-size: 1rem;
        color: #0a0a0a;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
      }
      &>input[type=number]::-webkit-inner-spin-button,
      &>input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &__price {
        color: $alert-color;
        padding-left: 0.5rem;
      }
      &__old-price {
        color: $link-hover-color;
        font-size: $font-size-xs;
        text-decoration: line-through;
        padding-bottom: 1rem;
        text-align: end;
      }
    }
  }
  &__total-price {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size-lg;
    font-family: 'Mina';
    color: $alert-color;
  }
  &__delete-btn {
    &>mat-icon {
      cursor: pointer;
    }
  }
}

.cart-item-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
  &__purchase-btn {
    @extend %cart-btn-action;
    justify-self: start;
    align-self: center;
    width: 98%;
    background-color: $alert-color !important;
    color: $inverted-color !important;
  }
  &__clear-btn {
    @extend %cart-btn-action;
    justify-self: end;
    align-self: center;
    width: 98%;
    background-color: $alert-color !important;
    color: $inverted-color !important;
  }
}
