<div class="file-upload-info__container">
  <mat-card class="file-upload-info__card" *ngFor="let item of filesUpload">
    <div class="file-upload-info__card__delete-btn" (click)="onDelete(item)">
      <mat-icon _ngcontent-c17="" class="td-chip-removal mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true">
        cancel
      </mat-icon>
    </div>
    <div class="file-upload-info__card__img">
      <img [src]="item.fileUrl" alt="" srcset="">
    </div>
  </mat-card>
</div>